# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = space
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_namespace_match_folder = true:suggestion
# Code files
[*.{cs,csx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
###############################
# .NET Coding Conventions     #
###############################
[*.{cs}]
# Organize usings
dotnet_sort_system_directives_first = true
# this. preferences
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:suggestion
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
###############################
# Naming Conventions          #
###############################
# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization             = pascal_case
# Use PascalCase for constant fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds            = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities  = *
dotnet_naming_symbols.constant_fields.required_modifiers          = const
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1310.severity = none
###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent
# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion
# Expression-level preferences
csharp_prefer_braces = true:silent
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent

#Readability Rules

#A call to an instance member of the local class or a base class is not prefixed with 'this.'
dotnet_diagnostic.SA1101.severity = none

#The parameter spans multiple lines
dotnet_diagnostic.SA1118.severity = none

#Spacing Rules
dotnet_diagnostic.SA1010.severity = none


#Documentation Rules

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

#file header is missing
dotnet_diagnostic.SA1633.severity = none

#Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1623: summary text should begin with: 'Gets or sets'
dotnet_diagnostic.SA1623.severity = none

# documentation for parameter 'cdrArrangementId' is missing
dotnet_diagnostic.SA1611.severity = none

# Parameter '' has no matching param tag in the XML comment
dotnet_diagnostic.CS1591.severity = none

# Element return value should be documented
dotnet_diagnostic.SA1615.severity = none

#parameter has no matching tag in xml
dotnet_diagnostic.CS1573.severity = none


#Ordering Rules

#static members should appear before non-static members
dotnet_diagnostic.SA1204.severity = none

# public members should come before private
dotnet_diagnostic.SA1202.severity = none

# 'public' members should come before 'private' members
dotnet_diagnostic.SA1200.severity = none

# using directive ordering
dotnet_diagnostic.SA1208.severity = none

# field should not follow class
dotnet_diagnostic.SA1201.severity = none

#Maintainability

# S2325: Methods and properties that don't access instance data should be static
dotnet_diagnostic.S2325.severity = none

[*.cs]
# Disable xUnit1013 warning
dotnet_diagnostic.xUnit1013.severity = none
csharp_prefer_system_threading_lock = true:suggestion
#region should not be located within a code element
dotnet_diagnostic.SA1123.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1616.severity = none
dotnet_diagnostic.SA1108.severity = none

# A multi-line initializer in a C# code file should use a comma on the last line.
dotnet_diagnostic.SA1413.severity = none

# Ignore rules for Testing Projects
[/*Tests*/**]
# SA1025: Code should not contain multiple whitespace in a row.(This is usefull for InlineData documentation.)
dotnet_diagnostic.SA1025.severity = none
# A C# code file contains more than one unique type.
dotnet_diagnostic.SA1402.severity = none
# A constant field is placed beneath a non-constant field.
dotnet_diagnostic.SA1203.severity = none

# Ignore rules for Controllers
[**/Controllers/**]
# This controller has multiple responsibilities and could be split into 2 smaller controllers. (https://rules.sonarsource.com/csharp/RSPEC-6960)
dotnet_diagnostic.S6960.severity = none
# Use model binding instead of accessing the raw request data (https://rules.sonarsource.com/csharp/RSPEC-6932)
dotnet_diagnostic.S6932.severity = none
# In the context of ASP.NET Core MVC web applications, both model binding and model validation are processes that take place prior to the execution of a controller action.
dotnet_diagnostic.S6967.severity = none


[DiscoveryDocument.cs]
# A closing square bracket within a C# statement is not spaced correctly.(There is an issue with identifying nullable array properties.)
dotnet_diagnostic.SA1011.severity = none

[JwtSecurityTokenExtensions.cs]
# A closing square bracket within a C# statement is not spaced correctly.(There is an issue with identifying nullable array properties.)
dotnet_diagnostic.SA1011.severity = none

[AccessToken.cs]
# The parameters to a C# method or indexer call or declaration are not all on the same line or each on a separate line. (Test methods with many parameters)
dotnet_diagnostic.SA1117.severity = none

[JsonWebKey.cs]
# The name of a C# element does not begin with an upper-case letter. (Json property mapping)
dotnet_diagnostic.SA1300.severity = none

[JsonWebKeySet.cs]
# The name of a C# element does not begin with an upper-case letter. (Json property mapping)
dotnet_diagnostic.SA1300.severity = none

[ClientAssertionRequest.cs]
# The name of a C# element does not begin with an upper-case letter. (Json property mapping)
dotnet_diagnostic.SA1300.severity = none

[AccessToken.cs]
# The name of a C# element does not begin with an upper-case letter. (Json property mapping)
dotnet_diagnostic.SA1300.severity = none

[SoftwareStatementAssertionModel.cs]
# The name of a C# element does not begin with an upper-case letter. (Json property mapping)
dotnet_diagnostic.SA1300.severity = none

[DataRecipientStatus.cs]
# A C# code file contains more than one unique type.
dotnet_diagnostic.SA1402.severity = none

[ExpectedApiErrors.cs]
# Remove this empty class, write its code or make it an "interface".
dotnet_diagnostic.S2094.severity = none

[Program.cs]
# Using platform dependent API on a component makes the code no longer work across all platforms.
dotnet_diagnostic.CA1416.severity = none


