# Docker compose for build pipeline
name: mock-register-unit-tests

services:
  mock-register-unit-tests:
    container_name: mock-register-unit-tests
    image: mock-register-unit-tests
    build:
      context: .
      dockerfile: Dockerfile
      target: unit-tests
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
    volumes:
      - "./_temp/mock-register-unit-tests/testresults:/testresults"
